body{
    color: white;
}

.carousel-container {
    border-radius: 10px;
    border-bottom: 10px;
    background-color: #333 - 5;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 1100px; /* Set the height of the carousel */
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-item iframe {
    width: 100%;
    height: 100%;
    border: none;
    scrolling: no;
}
.carousel-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.prev, .next {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.prev:hover, .next:hover {
    transform: scale(1.1); /* Escala el elemento un 10% más grande */
    transition: transform 0.3s ease; /* Añade una transición suave */
}


.imagen-boton {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.imagen-boton img {
    width: 30px;
    height: 30px;
}